.footer {
  background-color: $color-footer;

  &__wrapper {
    margin: $m-2 0;
  }
}

.block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $p-6;

  &__description {
    width: calc(100% / 4);
    min-width: 200px;

    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--footer {
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }
}

.title-description--foot {
  margin: 0;
}
