.navbar__list {
  margin: 0 $m-3;

  &--m0 {
    margin: 0;
  }
}

.list {
  &-cards {
    width: calc(100% / 6);

    text-align: center;
  }

  &-why-work {
    width: 30%;
    padding: 3rem;

    border-radius: 20px;

    background-color: $color-why-work-card;
  }

  &-team {
    width: 23%;
    padding: 2rem;
    text-align: center;

    border-radius: 20px;

    background-color: $color-why-work-card;
  }
}
