.navbar__list {
  margin: 0 $m-3;

  &--m0 {
    margin: 0;
  }
}

.list {
  &-cards {
    width: calc(100% / 6);

    text-align: center;
  }

  &-why-work {
    @include transition();

    width: 30%;
    padding: 3rem;

    border-radius: 20px;

    background-color: $color-why-work-card;

    &:hover {
      cursor: pointer;
      transform: translateY(-20px);
      box-shadow: 8px 15px 15px $color-white;
    }
  }

  &-team {
    @include transition();
    width: 23%;
    padding: 2rem;
    text-align: center;

    border-radius: 20px;

    background-color: $color-why-work-card;

    &:hover {
      cursor: pointer;
      transform: translateY(-20px);
      box-shadow: 8px 15px 15px $color-white;
    }
  }

  &-news {
    width: 30%;
  }

  &-news2 {
    width: 55%;
  }

  &-social {
    @include transition();
    padding: $p-0-5;
    margin: 0 $m-0-5;
    background-color: $color-brown-opacity;

    border-radius: 50%;

    &:hover {
      svg {
        @include transition();

        fill: $color-pseudo-line;
      }
      transform: translateY(-10px);
      background-color: $color-white-opacity;
    }

    &-footer {
      background-color: $color-white;

      &:hover {
        svg {
          @include transition();

          fill: $color-white;
        }
        transform: translateY(-10px);
        background-color: $color-john;
      }
    }
  }

  &--w60 {
    max-width: 60%;
  }
}
