.title {
  margin-bottom: $m-2;

  color: $color-white;
  font-weight: $font-w-700;
  font-size: $font-50;

  line-height: 77px;

  &-slider {
    padding: 0 $p-25;
    font-family: $font-family_2;
    font-weight: $font-w-500;
    font-size: $font-35;
    line-height: 50px;
    text-align: center;

    color: $color-white;
  }

  &::selection {
    background: orange;
  }

  &-presection {
    margin-bottom: $m-1;

    color: $text-presection;
    font-weight: $font-w-700;
    font-size: $font-20;

    &::selection {
      background: white;
    }
  }

  &-section {
    margin-bottom: $m-2;
    margin-top: $m-2;

    color: $color-white;

    font-family: $font-family_2;
    font-weight: $font-w-700;
    font-size: $font-31;

    &::selection {
      background: orange;
    }

    &-mb05 {
      margin: 0;
      margin-bottom: $m-0-5;

      &--fw500-fz18 {
        margin: 0;
        font-weight: $font-w-500;
        font-size: $font-18;
      }
    }

    &--fz28 {
      width: 80%;
      font-family: $font-family_1;
      font-weight: $font-w-600;
      font-size: $font-28;
      line-height: 44px;

      &-fw500 {
        font-weight: $font-w-500;
      }

      &::selection {
        background: orange;
      }
    }

    &--team {
      margin: 0;
      font-family: $font-family_1;
      font-weight: $font-w-600;
      font-size: $font-19;

      &::selection {
        background: orange;
      }
    }

    &-center {
      color: $color-white;

      font-family: $font-family_1;
      font-weight: $font-w-600;
      font-size: $font-36;
      line-height: 65px;

      text-align: center;

      &::selection {
        background: orange;
      }

      &--2 {
        padding: 0 $p-11;
        margin-bottom: $m-4;
      }

      &--3 {
        margin-bottom: $m-2;
        padding: 0 $p-15;

        font-weight: $font-w-700;
        font-size: $font-31;
      }

      &--form2 {
        font-weight: $font-w-400;
        font-size: $font-30;
      }
    }

    &--w90 {
      width: 90%;
    }

    &-news {
      font-family: $font-family_1;
      font-weight: $font-w-600;
      font-size: $font-23;
      line-height: 34.5px;
    }
  }

  &-description {
    margin-bottom: $m-2;
    margin-top: $m-2;

    color: $color-white;
    line-height: 32px;
    font-weight: $font-w-500;
    font-size: $font-16;

    &::selection {
      background: orange;
    }

    &-rate {
      font-family: $font-family_2;
      font-size: $font-16;
    }

    &-m1 {
      margin: $m-1 0;
    }

    &--gray {
      margin: 0;
      color: $color-rate-city;
    }

    &-center {
      padding: 0 $p-14;
      margin-bottom: $m-5;

      text-align: center;

      &--mt2-p0-mb0 {
        margin: 0;
        padding: 0 $p-23;
        margin-top: $m-2;
      }
    }

    &-fw400 {
      margin: 0;
      font-family: $font-family_2;
      font-weight: $font-w-400;
      font-size: $font-20;
    }

    &-alignment {
      text-align: center;
    }

    &--thin {
      font-weight: $font-w-400;
    }

    &--thin2 {
      margin: 0;
      font-weight: $font-w-300;
    }

    &--thin3 {
      margin: 0;

      line-height: 30px;
      font-size: $font-20;
      font-weight: $font-w-300;
    }

    &--footer {
      margin: 0;
      font-weight: $font-w-400;
    }

    &--form2 {
      margin: 0;
      font-weight: $font-w-500;
      font-size: $font-13;
    }

    &--w80 {
      width: 80%;
    }

    &--bg1 {
      display: inline-block;
      margin: 0;
      padding: $p-0-5 $p-2;

      border-radius: 8px;
      background-color: $color-why-work-lorem1;
    }

    &--bg2 {
      display: inline-block;
      margin: 0;
      padding: $p-0-5 $p-2;

      border-radius: 8px;
      background-color: $color-why-work-lorem2;
    }

    &--bg3 {
      display: inline-block;
      margin: 0;
      padding: $p-0-5 $p-2;

      border-radius: 8px;
      background-color: $color-why-work-lorem3;
    }

    &_John {
      padding: $p-0-5 $p-2;

      background-color: $color-john;

      &_little {
        padding: $p-0-3 $p-1-5;

        &--pink {
          background-color: $color-john-little-pink;
        }

        &--orange {
          background-color: $color-john-little-orange;
        }

        &--green {
          background-color: $color-john-little-green;
        }

        &--purple {
          background-color: $color-john-little-purple;
        }
      }
    }
  }

  &-card {
    font-family: $font-family_2;
    font-weight: $font-w-500;
    font-size: $font-22;

    &::selection {
      background: orange;
    }
  }
}
