::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: $color-black;
}

::-webkit-scrollbar-thumb {
  background: $color-modal;
}

body {
  background: $primary-color no-repeat;

  font-family: $font-family_1;

  overflow-x: hidden;
}

.container {
  @include container();
}

.container2 {
  @include container2();
}
