/* xs (<=543px) */
@media (max-width: 575px) {
  .container {
    width: 80%;
  }

  .container2 {
    width: 80%;
  }

  .hamburger {
    display: block;
  }

  .mobile {
    position: fixed;
    left: -250%;
    top: 0;
    width: 70%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $color-pseudo-line;

    .navbar__list {
      width: 50%;
      padding: 3rem 0;
      border-bottom: 2px solid $color-white;
    }

    .navbar__link {
      font-size: $font-22;

      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  .section-6.mobile-container {
    padding-bottom: 0;
  }

  .title {
    margin-top: $m-2;
    &-section {
      &-center {
        &--2 {
          padding: 0;
        }

        &--3 {
          padding: 0;
        }
      }

      &--fz28 {
        width: auto;
      }
    }

    &-description {
      &-center {
        padding: 0;
      }

      &--thin3 {
        font-size: $font-16;
      }

      &--w80 {
        width: auto;
      }

      &_John_little {
        width: 50%;
        text-align: center;
      }
    }

    &-slider {
      padding: 0;
    }
  }

  .section {
    &__block {
      justify-content: center;
      flex-wrap: wrap;

      &_description {
        width: 100%;

        &--pt5 {
          padding: 0;
        }

        &--p0 {
          width: 50%;
          &:nth-child(2) {
            border: none;
          }
        }

        &--p2 {
          width: 50%;
          &:nth-child(2) {
            border: none;
          }
        }

        &_1 {
          width: auto;
        }

        &_2 {
          margin: 0 $m-0-5;
          padding: 0;
        }

        &_rate {
          text-align: center;
        }

        &_page {
          width: 50%;

          text-align: center;
        }
      }

      &--gray {
        text-align: center;
        padding: $p-1;
      }

      &_rate {
        row-gap: 2rem;
      }

      &--flex {
        justify-content: center;
      }

      &_pages {
        justify-content: center;
        flex-wrap: nowrap;
      }
    }

    &-1 {
      margin-top: 0;
    }

    &-5 {
      margin-top: $m-5;
    }

    &-6 {
      padding: $p-5 0;
    }

    &-7 {
      padding-bottom: $p-5;
    }
  }

  .pages {
    justify-content: space-between;
  }

  .lists {
    justify-content: center;

    &-social {
      flex-wrap: wrap;

      gap: 1rem;
    }

    &-why-work {
      row-gap: 2rem;
    }

    &-team {
      row-gap: 2rem;
    }

    &-portfolio {
      row-gap: 1rem;

      .list {
        width: 100%;
      }
    }

    &-rate {
      .title-description-rate {
        margin: 0;
      }
    }
  }

  .list {
    &-cards {
      width: auto;
    }

    &-why-work {
      width: auto;
    }

    &-team {
      width: 100%;
    }
  }

  .form {
    &2 {
      width: 100%;

      .section__block {
        display: block;

        &_description {
          width: 100%;
        }
      }
    }

    &__input {
      position: relative;
      padding: $p-0-5 0 $p-0-8 0;
      left: none;
      right: 0;

      &::placeholder {
        text-align: center;
      }
    }

    &__input2 {
      position: relative;
      padding: 0.8rem 5rem 0.8rem 1rem;

      box-sizing: border-box;
    }

    .search__ico {
      left: 10%;
    }
  }

  .btn {
    &__continue {
    }

    &__see {
      font-size: $font-15;
    }

    &__pos {
      margin: $m-1 0;
      position: relative;
      right: 0;
      top: 0;
    }

    &__posBIG {
      margin: $m-1 0;
      position: relative;
      right: 0;
      top: 0;
    }

    &__center {
      max-width: 40%;
    }

    &__read {
      margin-bottom: $m-2;
    }
  }

  .dotes {
    top: 200px;
    right: 0;
  }

  .img {
    &:hover {
      transform: translateY(-5px);
    }
  }

  .image {
    top: -40px;
    left: 50px;
  }

  .unreal {
    top: 30px;
    left: 40px;
  }

  .unity {
    transform: rotate(-45deg);
    left: -50px;
  }

  .cry {
    transform: rotate(45deg);

    left: 200px;
    top: 20px;
  }

  .swiper-img {
    position: relative;
    right: 850px;

    &2 {
      position: relative;
      right: 500px;
    }

    &3 {
      position: relative;
      right: 850px;
    }

    &4 {
      position: relative;
      right: 350px;
    }

    &5 {
      position: relative;
      right: 600px;
    }
  }

  .img_about_us {
    position: static;
    width: 100%;
    margin-top: $m-5;
    scale: 1.2;
  }

  .img-profile {
    width: 100%;
  }

  .video {
    width: 100%;
  }

  .circle--big {
    width: 7%;
  }

  .circle--middle {
    width: 5%;
  }

  .circle--little {
    width: 3%;
  }

  .circle--micro {
    width: 2.5%;
  }

  .news-img {
    width: 100%;
    scale: 1.1;
    margin-bottom: $m-2;
  }

  .footer {
    padding: $p-3;

    &__section__block {
      flex-direction: column;
      gap: 2rem;

      &_description {
        gap: 1rem;
        margin: 0;
        padding: $p-3 0;
        width: auto;

        &:not(:last-child) {
          border-bottom: 2px solid $color-white;
        }
      }
    }
  }
}

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 80%;
  }

  .container2 {
    width: 80%;
  }

  .section-6.mobile-container {
    padding-bottom: 0;
  }

  .navbar {
    align-items: flex-start;

    &__lists {
      width: 85%;
      justify-content: flex-end;
      row-gap: 1rem;
    }
  }

  .btn {
    &__center {
      display: flex;
      justify-content: center;
      width: 25%;
      max-width: none;
      margin: $m-6 auto;
    }

    &__posBIG {
      right: 5%;
    }

    &__pos {
      right: 15px;
    }

    &__read {
      margin-bottom: $m-2;
    }
  }

  .title {
    margin-top: $m-2;
    &-section {
      &-center {
        &--2 {
          padding: 0;
        }

        &--3 {
          padding: 0;
        }
      }
    }

    &-description {
      font-size: $font-18;
      &-center {
        padding: 0;
      }
    }

    &-slider {
      padding: 0;
    }
  }

  .section {
    &__block {
      justify-content: center;
      flex-wrap: wrap;

      &_description {
        width: initial;

        .dotes {
          right: -35px;
        }

        &_1 {
          width: 100%;
        }

        &_2 {
          width: 100%;

          padding-right: 0;

          .image {
            position: relative;
            top: -50px;
            left: 50px;
            width: auto;
          }

          .unity {
            transform: rotate(-45deg);
            left: -50px;
            top: 500px;
          }

          .unreal {
            left: 100px;
            top: 220px;
          }

          .cry {
            left: initial;
            right: 100px;
            top: 180px;
          }

          .img_about_us {
            position: static;
            width: 100%;
            margin-top: $m-5;
          }
        }

        &--p2 {
          width: 50%;

          &:nth-child(2) {
            border: none;
          }
        }

        &--p0 {
          width: 50%;

          &:nth-child(2) {
            border: none;
          }
        }

        &--pt5 {
          padding-top: 0;
        }

        &_rate {
          .section__block {
            justify-content: space-evenly;
          }
        }
      }

      &--flex {
        justify-content: center;
      }

      &--gray {
        padding-bottom: $p-4;

        &--p3 {
          justify-content: center;
          padding-bottom: $p-2;
        }
      }

      &_rate {
        row-gap: 2rem;
      }
    }

    &-1 {
      margin-top: 0;
    }

    &-2 {
      margin-top: 0;
    }

    &-5 {
      margin-top: $m-5;
    }

    &-6 {
      padding: $p-5 0;
    }

    &-7 {
      padding-bottom: $p-5;
    }
  }

  .video {
    width: 100%;
  }

  .pages {
    justify-content: space-between;
  }

  .search__ico {
    left: 20%;
  }

  .swiper-img {
    position: relative;
    right: 600px;

    &2 {
      position: relative;
      right: 350px;
    }

    &3 {
      position: relative;
      right: 550px;
    }

    &4 {
      position: relative;
      right: 200px;
    }

    &5 {
      position: relative;
      right: 500px;
    }
  }

  .form2 {
    width: auto;

    .section__block_form2 {
      justify-content: space-between;
    }
  }

  .lists {
    &-why-work {
      row-gap: 2rem;
    }

    &-team {
      justify-content: center;
      gap: 2rem;
    }

    &-check {
      justify-content: center;
    }

    &-portfolio-news {
      column-gap: 5rem;
    }
  }

  .list {
    &-why-work {
      width: auto;
    }

    &-team {
      width: 45%;
    }
  }

  .list-img {
    width: 40%;
  }

  .card__img {
    width: 100%;
  }

  .circle--big {
    width: 9%;
  }

  .circle--middle {
    width: 7%;
  }

  .circle--little {
    width: 5%;
  }

  .circle--micro {
    width: 3%;
  }

  .footer {
    &__section {
      &__block {
        &_description {
          &:last-child {
            width: 100%;
            align-items: center;
          }

          &:nth-child(2) {
            justify-content: flex-start;
          }
        }
      }
    }
  }

  @keyframes upDown {
    0% {
      bottom: 0%;
    }

    25% {
      bottom: 5%;
      border-radius: 25%;
      box-shadow: 5px 8px 15px $color-white;
    }

    50% {
      bottom: 0%;
      border-radius: 0%;
    }

    75% {
      bottom: -5%;
      border-radius: 25%;
      box-shadow: -5px -8px 15px $color-white;
    }

    100% {
      bottom: 0%;
      border-radius: 0%;
    }
  }
}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 80%;
  }

  .container2 {
    width: 90%;
  }

  .image {
    top: 0;
  }

  .unity {
    top: 300px;
  }

  .cry {
    left: 350px;
    top: 135px;
  }

  .unreal {
    top: 130px;
    right: 250px;
  }

  .section {
    &__block {
      &--gray {
        gap: 1rem;

        .section__block_description_1 {
          width: auto;
        }

        .section__block_description_2 {
          width: auto;
          padding-right: 0;
        }
      }
    }

    &-1 {
      margin-top: 0;
    }

    &-2 {
      margin-top: $m-5;
    }

    &-5 {
      margin-top: $m-5;
    }

    &-6 {
      padding: $p-5 0 $p-10 0;
    }

    &-8 {
      .section__block_description--p0:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .title {
    margin-top: $m-2;
    &-section {
      &-center {
        &--2 {
          padding: 0;
        }

        &--3 {
          padding: 0;
        }
      }

      &-news {
        font-size: $font-22;
      }
    }

    &-description {
      &-center {
        &--mt2-p0-mb0 {
          padding: 0;
        }
      }

      &-rate {
        margin: 0;
      }
    }

    &-slider {
      padding: 0;
    }
  }

  .lists {
    justify-content: center;
    gap: 2rem;

    &-social {
      flex-wrap: wrap;
      gap: 1rem;
    }

    &-team {
      justify-content: space-between;
      gap: 1rem;

      .container2 {
        width: auto;
      }
    }

    &-rate {
      flex-direction: column;
      justify-content: center;
    }
  }

  .list {
    &-why-work {
      width: 45%;
    }
  }

  .swiper-img {
    position: relative;
    right: 350px;

    &2 {
      position: relative;
      right: 200px;
    }

    &3 {
      position: relative;
    }

    &4 {
      position: relative;
      right: 200px;
    }

    &5 {
      position: relative;
      right: 300px;
    }
  }

  .btn {
    &__see {
      display: flex;
      justify-content: center;
      max-width: initial;
      width: 20%;
    }

    &__posBIG {
      right: 2%;
    }
  }

  .img_about_us {
    left: 35%;
    top: 10%;
    scale: 1.2;
  }

  .footer__section__block {
    justify-content: space-between;
    &_description {
      width: 15%;

      &:last-child {
        margin: 0;
      }
    }
  }

  .bg2 {
    .section__block {
      column-gap: 2rem;
      align-items: center;

      &_rate {
        align-items: stretch;
        column-gap: 1rem;
      }

      &_pages {
        column-gap: 1rem;
      }
    }

    .title-section--fz28 {
      width: auto;
    }

    .title-description--w80 {
      margin-bottom: 0;
      width: auto;
    }
  }

  .video {
    width: 100%;
  }

  .mobile-container {
    .section__block {
      flex-wrap: wrap;

      .final {
        width: 45%;
      }

      &_description {
        &_1 {
          width: 100%;

          & > .section__block_description {
            width: 100%;
          }
        }

        &_2 {
          width: 100%;
          padding-right: 0;
        }
      }
    }

    padding: $p-5 0 0 0;
  }

  .img-profile {
    width: 100%;
  }

  .antimag {
    width: 100%;
  }

  .search__ico {
    left: 30%;
  }

  .news-img {
    width: 100%;
  }

  .ico__portfolio {
    width: 100%;
  }

  @keyframes upDown {
    0% {
      bottom: -15%;
    }

    25% {
      bottom: -5%;
      border-radius: 25%;
      box-shadow: 5px 8px 15px $color-white;
    }

    50% {
      bottom: -15%;
      border-radius: 0%;
    }

    75% {
      bottom: -30%;
      border-radius: 25%;
      box-shadow: -5px -8px 15px $color-white;
    }

    100% {
      bottom: -15%;
      border-radius: 0%;
    }
  }
}

/* xl (>=1200) */
@media (min-width: 1200px) {
}
