.swiper {
  margin-bottom: $m-6;
  width: 100%;
  height: auto;

  cursor: pointer;

  &-slide {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
  }

  &-scrollbar {
    bottom: 0;

    &-drag {
      background: $swiper-scrollbar;
    }
  }

  &-button-prev::after {
    color: $swiper-buttons;
  }

  &-button-next::after {
    color: $swiper-buttons;
  }

  &-pagination-bullet-active {
    background-color: $swiper-buttons;
  }
}
